body {
    margin: 0;
    color: white;
    font-family: nunito, helvetica, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #678;
}

a:hover {
    color: #9ab;
}

.title {
    max-width: 60%;
    word-break: break-word;
    text-transform: uppercase;
    margin: 1em 0 0 0;
    position: relative;
    display: inline-block;
    padding: 15px;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    /*border: white 3px solid;*/
}
.title:before, .title:after {
    display: inline-block;
    content: " ";
    position: absolute;
    height: 3px;
    width: 80px;
    margin: 0 10px;
    top:50%;
}

.title:before {
    left: 100%;
}

.title:after {
    right: 100%;
}

#welcome-text {
    margin-top: calc((100vh - 70px - 15px - 3em)/2);
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    z-index: -1;
}

#nav-bar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 4px #888888;
    font-size: 0.9em;
    z-index: 1000;
}

#nav-bar li {
    color: #678;
    display: inline-block;
    padding: 0 18px;
    text-transform: uppercase;
}

.nav-bar-link {
    display: inline-flex;
}

#card-1 {
    height: calc(100vh - 70px);
    text-align: center;
    margin-top: 70px;
    background: url("../img/index_bg.jpg") center no-repeat;
    background-size: cover;
}

.container {
    width: 944px;
    margin: 0 auto;
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.title-white:before, .title-white:after {
    background-color: white;
}

.title-black:before, .title-black:after {
    background-color: black;
}

#card-2 {
    text-align: center;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.small-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.content {
    margin-top: 0.2em;
    font-size: 1.7em;
    color: #667788;
}

.intro-text-box {
    width: 580px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    word-break: break-word;
    text-align: center;
    color: #3f4b5a;
    font-size: 1.5em;
    font-weight: 100;
}